body {
    margin: 0;
}

.main-nav {
    background-color: #3590F3;
    color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
}

.nav-links {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; /*Figure out a new font*/
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    max-width: 400px;
    font-size: 17px;
}

.nav-links > a {
    color: #F5F5F5;
    text-decoration: none;
}

#logo {
    color: #F5F5F5;
    text-decoration: none;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; /*Figure out a new font*/
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1em;
}

#header-image-wrapper {
    position: relative;
    padding-top: 56.25%; /* This is 16:9 Aspect Ratio*/
}

#header-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

#header-text {
    color: #F5F5F5;
    position: absolute; 
    top: 15vw; 
    left: 17vw;
    width: 100%; 
    font-size: 10vw;
}
